Source: kodi-peripheral-xarcade
Priority: optional
Maintainer: wsnipex <wsnipex@a1.net>
Build-Depends: debhelper (>= 9.0.0), cmake (>= 3.1),
               kodi-addon-dev (>= 2:18.0), pkg-config (>= 0.29.0)
Standards-Version: 3.9.8
Section: libs

Package: kodi-peripheral-xarcade
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: X-Arcade Tankstick driver for Kodi
 X-Arcade Tankstick driver for Kodi. See Readme for installing udev rule.

Package: kodi-peripheral-xarcade-dbg
Section: libs
Architecture: any
Depends: kodi-peripheral-xarcade, ${misc:Depends}
Description: X-Arcade Tankstick driver for Kodi, debug symbols
 debug symbols for X-Arcade Tankstick driver for Kodi
